/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 Jan 2020, 15:30:17
    Author     : BhimjiyaniH
*/

 h1{
                text-align: center;
                color:  brown;
              
            }
            
            .hiren{
                border-style:  solid;
                
            }
            
            .chartTitle {
                text-align: center;
            }
            
